#topframe {
    /* padding-bottom: 90px; */
    background-color:white;
    position:relative;
}


#topframe-content {
    width:960px;
    margin:0 auto;
}



#nameplate {
    /* border: 5px solid red; */
    padding: 10 10 0 10;
    background-color:teal;
    color:white;
    width: 250px;
    height:90px;
    float:left;
    text-align:center;
    margin:0 auto;
    font-size:36px;
    /* BLACK MAGIC FLEXBOX STUFF */
    display: flex;
    justify-content: center;
    align-items: center;
    /* BLACK MAGIC, BLACK MAGIC */
    
}


#content {
    width:960px;
    background-color:white;
    height:auto;
    text-align:center;
    margin:0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
body {
    margin:auto;
    padding:auto;
}

#topframe-links {
    float:right;
    display: flex;
    padding-top: 25px;
    vertical-align:middle;
    text-size-adjust:13px;
    color:gray;


}


#topframe-about {
    left: 20px;
    border-right: 1px solid gray;
    padding-right:20px;
}


#topframe-portfolio {
    border-right: 1px solid gray;
    padding-right: 20px;
    padding-left: 20px;
}

#topframe-contact {
    /* border-right: 1px solid gray; */
    padding-left: 20px;
}


.navbar {
    padding: 0 1rem;
}


a {
    color:gray;
    font-size:20px;
    text-decoration:none;
}

a:active {
    background-color:purple;
}

a:hover {
    background-color:orange;
    /* font-weight: bolder; */
}
a:focus {
    background-color:teal;
    /* font-weight: bolder; */
}

/* Content Div contains everything centered
Float can be used to put things to the left or right of the centered area */